//Color Themes
$Title_Active: #00204A;
$Body: #1A365C;
$Label: #334D6E;
$Placeholder: #4D6380;
$Line: #BFC7D2;
$Input_Background: #F2F4F6;
$Background: #FAFBFB;
$Off_White: #FFFFFF;
//Colors
$Primary: #00BBF0;
$Secondary: #FDB44B;
$Error: #EB5757;
$Success: #00BA88;
//Text
$Text_Large: 20px;
$Text_Medium: 18px;
$Text_Small: 16px;
$Text_XSmall: 14px;